*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.text-col{
    color: #0175D7;
}

.bg-col{
    background: #0175D7;
}


/* SocialIcon */
.ConNo{
    color: red;
    font-family: sans-serif;
    font-size: 6rem;
    
    
}

/* Navbar */
.nav-item{
    font-size: 1.1rem;
}

.navbg{
    background-color: #0175D7;
}

ul li a:hover {
    font-size: 120%;
  }


  /* Carousel */



  #contactus a{
      text-decoration: none;
  }




Dark: #0175D7
Light: #33A7FF
